.App {
  text-align: center;
}

.login-form {
  border: 1px solid red;
  margin-inline: auto;
  width: 500px;
}

.form-group {
  margin-bottom: 15px;
}

.navbar {
  & ul {
    background-color: aqua;
    display: flex;
    justify-content: space-evenly;
    padding: 8px;
    list-style-type: none;
  }
}
